<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Select your city</h5>
        <p class="card-text">
            <div class="form-group select-box">
                <label for="sel1">Select Continent:</label>
                <select class="form-control" id="sel1">
                    <option selected disabled>Select Continent</option>
                </select>
            </div>
            <div class="form-group select-box">
                <label for="sel1">Select Country:</label>
                <select class="form-control" id="sel1">
                    <option selected disabled>Select Country</option>
                </select>
            </div>
            <div class="form-group select-box">
                <label for="sel1">Select City:</label>
                <select class="form-control" id="sel1">
                    <option selected disabled>Select City</option>
                </select>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
    <!-- <img class="card-img-bottom" src="..." alt="Card image cap"> -->
</div>